  @model MyClients



<html>
 <head>
  <meta charset="utf-8">
  <title>Тег table</title>
 </head>
 <body>
 @* <table border="0">
   <tr>
    <th>Сумма</th>
    <th>Срок</th>
    <th>Ставка</th>
    <th>Платеж</th>
   </tr>
   <tr>
    <td>@Model.Summa</td>
    <td>@Model.Long</td>
    <td>@Model.Procent</td>
    <td>@Model.Platej</td>
  </tr>
 </table>
 </body>
</html>
*@

<table border="1">
    <thead>
        <tr>
            <th>№</th>
            <th>Дата платежа</th>
            <th>Сумма платежа</th>
            <th>Основной долг</th>
            <th>Проценты</th>
            <th>Остаток долга</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clients)
        {
            <tr>
                <td>@item.Long</td>
                <td>@item.CreatedDate</td>
                <td>@item.TotalPayment</td>
                <td>@item.MainPayment</td>
                <td>@item.ProcentPayment</td>
                <td>@item.Summa</td>
            </tr>
        }
    </tbody>
</table>
</body>
</html>