
@model IEnumerable<WebApplicationMVC.Models.File>
 
<h2>Файл</h2>
<table class="table">
     <tr><th>КодФайла</th><th>Название</th><th>Описание</th><th>КодТипаФайла</th><th>КодПапки</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.codefile</td>
            <td>@item.namefile</td>
            <td>@item.about</td>
            <td>@item.codetypefolder</td>
            <td>@item.codefolder</td>
        </tr>
    }
</table>