@model List<Объединенная>
<table>
    <tr>
        <th>КодПапки</th>
        <th>Название</th>
        <th>КодРодительскойПапки</th>
        <th>Название</th>
        <th>КодФайла</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ПапкаИзОбъединенной.КодПапки</td>
            <td>@item.ПапкаИзОбъединенной.Название</td>
            <td>@item.ПапкаИзОбъединенной.КодРодительскойПапки</td>
            <td>@item.ФайлИзОбъединенной.Название</td>
            <td>@item.ФайлИзОбъединенной.КодФайла</td>
        </tr>
    }
</table>

