@model List<Объединенная>
<table>
    <tr>
        <th>КодПапки</th>
        <th>Название</th>
        <th>КодРодительскойПапки</th>
        <th>Название</th>
        <th>КодФайла</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ПапкаИзОбъединенной.codefolder</td>
            <td>@item.ПапкаИзОбъединенной.name</td>
            <td>@item.ПапкаИзОбъединенной.codeparentfolder</td>
            <td>@item.ФайлИзОбъединенной.namefile</td>
            <td>@item.ФайлИзОбъединенной.codefile</td>
        </tr>
    }
</table>

